<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sw.novel.book.dao.BookChapterMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sw.novel.book.entity.BookChapterEntity">
        <id column="id" property="id" />
        <result column="book_id" property="bookId" />
        <result column="chapter_index" property="chapterIndex" />
        <result column="chapter_name" property="chapterName" />
        <result column="word_count" property="wordCount" />
        <result column="is_free" property="isFree" />
        <result column="is_deleted" property="isDeleted" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, book_id, chapter_index, chapter_name, word_count, is_free, is_deleted, create_time, update_time
    </sql>

</mapper>
