<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sw.novel.book.dao.BookContentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sw.novel.book.entity.BookContentEntity">
        <id column="id" property="id" />
        <result column="chapter_id" property="chapterId" />
        <result column="chapter_content" property="chapterContent" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, chapter_id, chapter_content
    </sql>

</mapper>
